body {
	font-family:'Quicksand','Georgia','Palatino Linotype','Times New Roman',sans-serif;
	}

div#container {
	width:900px;
	margin:auto;
	padding:25px 0px 0px 0px;
	overflow:hidden;
	-webkit-columns:300px 2;
	-moz-columns:300px 2;
	columns:300px 2;
	-webkit-column-gap:15px;
	-moz-column-gap:15px;
	column-gap:15px;
	-webkit-column-break-inside:avoid;
	page-break-inside:avoid;
	break-inside:avoid;
	}
	
#header {
	width:100%;
	height:20px;
	background-color:rgba(225,225,225,0.4);
	margin:-3px 0px 0px -5px;
	position:fixed;
	z-index:100;
	font-family:'Courier New','Lucida Console',serif;
	font-size:10pt;
	}
	
#header a {
	text-decoration:none;
	color:#000;
	}
	
#pagination {
	text-align:center;
	font-size:12pt;
	font-family:'Courier New','Lucida Console',serif;
	}
	
#pagination a {
	text-decoration:none;
	color:#000;
	}
	
#permalink a {
	text-decoration:none;
	color:#000;
	}
	
#permalink a:hover {
	font-style:italic;
	}

.post {
	position:relative;
	overflow:hidden;
	margin:0px 0px 15px 0px;
	padding:none;
	}
	
.post img {
	width:100%;
	}
	
span.info {
	background:rgba(0,0,0,0.5);
	color:white;
	display:table;
	height:100%;
	left:0;
	position:absolute;
	top:0;
	width:100%;
	overflow:hidden;
	opacity:0;
	-webkit-transition:opacity 500ms;
	-moz-transition:opacity 500ms;
	-o-transition:opacity 500ms;
	transition:500ms;
	}
	
span.info:hover {
	opacity:1;
	}
	
span.info h1 {
	font-size:16pt;
	}
	
span.info span {
	display:table-cell;
	text-align:center;
	padding:10px 10px 2000px 10px;
	overflow:hidden;
	font-size:12pt;
	}
