#about {
	width:650px;
	float:right;
	padding:50px 0px 0px 0px;
	}
	
#about a {
	color:#029899;
	text-decoration:none;
	}
	
#aboutcontainer {
	width:900px;
	font-family:Quicksand,sans-serif;
	margin:auto;
	font-size:14pt;
	text-align:center;
}

#aboutsidebar {
	width:250px;
	float:left;
	padding:50px 0px 0px 0px;
	}
	
#aboutsidebar img {
	width:220px;
	padding:0px 15px 0px 15px;
	pointer-events:none;
	}

#ad {
	width:0px;
	overflow:hidden;
	}
	
#ask {
	height:130px;
	overflow:hidden;
	}

body {
	margin:10px 0px 0px 0px;
}

.caption {
	line-height:30px;
	padding:20px 10px 20px 10px;
	border-style:solid;
	border-width:1px 0px 1px 0px;
}

.caption-padding {
	color:#FFF;
  	padding:20px 10px 0px 10px;
  	font-size:12pt;
  	text-align:center;
	line-height:30px;
}

#container {
	font-family:Quicksand,sans-serif;
	padding:30px 0px 0px 0px;
	width:auto;
	margin:auto;
}

.grid {
	padding:none;
}

.date {
	font-size:16pt;
}

#header {
	width:100%;
	height:20px;
	position:fixed;
	font-family:'Courier New','Lucida Console',sans-serif;
	font-size:10pt;
	background-color:rgba(225,225,225,0.4);
	margin:none;
	padding:0px 0px 0px 5px;
	z-index:5;
	}
	
#header a {
	text-decoration:none;
	color:#000;
	}
	
#header a:hover {
	font-style:italic;
	font-size:9.25;
	}
	
.image-overlay-content {
  width:100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0; 
}

img#profilepic {
	width:220px;
	padding:0px 15px 0px 15px;
	pointer-events:none;
	border-radius:50%;
	-webkit-border-radius:50%;
	-moz-border-radius:50%;
}

img.socialicon {
	float:left;
}

.js-masonry {
	columnWidth:100%;
	isFitWidth:true;
	itemSelector:'.post';
	percentPosition:true;
	isInitLayout:false;
}

.location {
	margin-bottom:15px;
	font-weight:bold;
}
	
@media screen and (min-width: 0px) and (max-width:600px) {
/* SKINNY COMPUTER */
	.caption {
		border:none;
		padding:0px 10px 10px 10px;
		width:100%;
		float:right;
		font-size:14pt;
	}
	
	.caption-padding {
		color:#000;
	}
	
	div#about {
		width:900px;
	}
	
	div.date {
		padding:0px 0px 10px 0px;
		font-weight:bold;
		line-height:16pt;
	}
	
	div#header {
		position:absolute;
	}
	
	div.location {
		font-size:14pt;
		font-weight:initial;
	}
	
	div.post {
		width:100%;
		margin:0px 0px 20px 0px;
	}
	
	.image-overlay-content {
		position:static;
	}
	
	.overlay-fade-in .image-overlay-content {
  		opacity: 1 !important;
  		background-color: rgba(255, 255, 255, 1.0) !important;
  		transition: none 0.4s ease-in-out; 
	}
	
	.overlay-fade-in:hover img {
  		transform:none !important; 
	}
}

@media screen and (min-device-width: 0px) and (max-device-width:600px) {
/* SKINNY DEVICE */
	#about {
		font-size:40pt;
	}
	
	.caption {
		border:none;
		padding:0px 10px 10px 10px;
		width:100%;
		float:right;
		font-size:40pt;
		line-height:45pt;
	}
	
	.caption-padding {
		color:#000;
		padding:30px 20px 0px 20px;
	}
	
	div#container {
		padding-top:70px;
	}
	
	div.date {
		padding:0px 0px 10px 0px;
		font-weight:bold;
		font-size:50pt;
		line-height:55pt;
	}
	
	div#header {
		position:absolute;
		font-size:30pt;
		height:60px;
	}
	
	div.location {
		font-size:40pt;
		line-height:45pt;
		font-weight:initial;
	}
	
	div.post {
		width:100%;
		margin:0px 0px 20px 0px;
	}
	
	.image-overlay-content {
		position:static;
	}
	
	.overlay-fade-in .image-overlay-content {
  		opacity: 1 !important;
  		background-color: rgba(255, 255, 255, 1.0) !important;
  		transition: none 0.4s ease-in-out; 
	}
	
	.overlay-fade-in:hover img {
  		transform:none !important; 
	}
}

@media screen and (min-device-width: 600px) and (max-device-width:1024px) {
/* WIDE DEVICE */
	.caption {
		border:none;
		padding:0px 10px 10px 10px;
		width:100%;
		float:right;
		font-size:14pt;
	}
	
	.caption-padding {
		color:#000;
	}
	
	div.date {
		padding:0px 0px 10px 0px;
		font-weight:bold;
		line-height:14pt;
	}
	
	div#header {
		position:absolute;
	}
	
	div.location {
		font-size:12pt;
		font-weight:initial;
	}
	
	div.post {
		width:50%;
		margin:0px 0px 15px 0px;
	}
	
	.image-overlay-content {
		position:static;
	}
	
	.overlay-fade-in .image-overlay-content {
  		opacity: 1 !important;
  		background-color: rgba(255, 255, 255, 1.0) !important;
  		transition: none 0.4s ease-in-out; 
	}
	
	.overlay-fade-in:hover img {
  		transform:none !important; 
	}
}
	
#navigation {
	text-align:center;
	font-family:'Courier New','Lucida Console',sans-serif;
	font-size:12pt;
	padding:30px 0px 0px 0px;
}

#navigation a {
	text-decoration:none;
	color:#000;
}

.overlay-fade-in img {
  transition: all 0.3s linear; 
}

.overlay-fade-in .image-overlay-content {
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.4);
  transition: all 0.4s ease-in-out; 
}

.overlay-fade-in:hover img {
  transform: scale(1.04); 
}

.overlay-fade-in:hover .image-overlay-content {
  opacity: 1; 
}

.post {
	float:left;
	overflow:hidden;
	position:absolute;
	width:33.333333%;
}

.post img {
	padding:none;
	width:100%;
}

.social {
	line-height:50px;
	height:50px;
	margin:0px 5px 15px 0px;
}

#socialmedia {
	width:250px;
	padding:none;
	margin:0px 0px 15px 0px;
	}

#socialmedia img {
	height:50px;
	width:50px;
	}
	
.socialtitle {
	float:left;
	color:#000;
}

.wrap {
	overflow:hidden;
}
